.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #D8AD3D;
    border-color: #D8AD3D;
}

.list-group{
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    margin-bottom: 16px;
}

.list-group-item {    
    border: none;
}

.card-img-top{
    min-height: 177px;
}

.card{
    width: 15rem;
    margin-right: 24px;
    transition: all .8s linear;
    border-radius: 10px;
    @media(max-width: 416px) {
        width: 97%;
    }
}

.card-skeleton{
    width: 15rem;
    margin-right: 24px;
    padding: 16px;
    border-radius: 10px;
    border: 0;    
    display: inline-block;
    position: relative;
    overflow: hidden;    
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
    @media(max-width: 416px) {
        width: 97%;
    }
}
.title{
    text-align: center;
}

.card-text-title{
    font-weight: 700;
}

.profile-img-section{    
    height: 150px;
    width: 100%;
}

.text1{
    height: 25px;
    margin-top: 16px;
    width: 75%;
}
.text2{
    height: 35px;
    margin-top: 16px;
    width: 100%;
}
.profile-img-section, .text1, .text2{
    animation: loading 1.1s infinite linear;
    background: #dedfe1;
    background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
    background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
    background-repeat: no-repeat;
}

@keyframes loading {
    0% {
      background-position: -100px;
    }
    100% {
    background-position: 200px;
    }
  }