<div class="wrapper">
  <div class="page-header clear-filter" >
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/bgLista.png');">

    </div>
    <div>
        <img src="assets/img/marca.png" class="img-branch" alt="" >
    </div>
    <div class="container ">
        <div class="content-left brand">              
            <h1 class="h1-seo title-slider">El secreto <br>de tu cocina</h1>                  
        </div>  
     </div>
  </div>

  <div class="main">   
      <app-products></app-products>
      <app-contact></app-contact> 
  </div>
</div>
